* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f46060;
  width: 100%;
  height: 100vh;
}

.table {
  position: relative;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
}

.row {
  background-color: white;
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  z-index: 4;
}

.wall {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: black;
}

#men {
  position: absolute;
  z-index: 3;
}

#girl {
  position: absolute;
  z-index: 0;
}

.menu {
  background-color: white;
}

.youWin {
  position: absolute;
  top: 20%;
  left: 16%;
  z-index: 10;
  padding: 20px;
  background-color: blueviolet;
  display: none;
}

.menu , .menu>div:last-child{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.menu{
  padding: 10px;
  border-radius: 10px;
  background-color: black ;
}
.menu>div>button, .menu>div>select{
  width: 300px;
  font-size: 24px;
  background-color: #f46060;
  border: solid 2px black;
  cursor: pointer;

} 